ul, ul li {
	list-style: none;
}
body{
    background-color: blueviolet;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    padding-right: 25px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
}